# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/.idea.ReactTS-Axios.dir/.idea/contentModel.xml
/.idea/.idea.ReactTS-Axios.dir/.idea/modules.xml
/.idea/.idea.ReactTS-Axios.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.ReactTS-Axios.dir/.idea/workspace.xml
.idea/.idea.ReactTS-Axios.dir/.idea/indexLayout.xml
.idea/.idea.ReactTS-Axios.dir/.idea/riderModule.iml
